<div>
     <h1>
       Welcome to GitHub Profile Search
     </h1>
   </div>
   
   <div>
     <div class="container">
       <form  [formGroup]="searchform" (ngSubmit)="sendUser()" >
            <label for="">Username </label>
            <input type="text" name="" id=""   formControlName="username"> 
            <button type="button" class="btn btn-primary" (click)="sendUser()" [disabled]="!this.searchform.valid">getDetails</button>
       </form>
</div>
     <img src="assets/search.svg" alt="Logo">
   </div>